ul{
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    left: 10cm;
    position: relative;
    border: green dotted 20px;
}

li {
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    position: relative;
    bottom: 2cm;
    
}