li {
    padding: 3mm;
    list-style: none;
    height: 1cm;
    background-color: lightseagreen;
    display: inline;
}

ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    margin: auto;
    text-align: center;
    border:20px dotted green;
}